@model Entity.ViewModels.ComputerPartSaleViewModel

@{
    ViewData["Title"] = "SalesDelete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<h3>Bunu silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>ComputerPartSaleViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
    
    <form asp-action="SalesDelete" asp-controller="Home" asp-area="Admin">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
